body {
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
}

svg {
  width: 960px;
  height: 70px;
  margin:10px;
}

.scheduler-container {
  width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 14px;
  font-weight: bold;
  fill: black;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    font-size:11px;
}

.next-button {
  cursor: pointer;
  fill: #000000;
}